from {{ model['record-metadata-class']|package_name }} import {{ model['record-metadata-class']|base_name }}

class {{ files['record-metadata-class']|base_name }}:
    __record_model_cls__ = {{ model['record-metadata-class']|base_name }}