from invenio_files_rest.models import Bucket
from sqlalchemy_utils import UUIDType

class {{ python.parent_record_metadata_class|base_name }}:
    bucket_id = db.Column(UUIDType, db.ForeignKey(Bucket.id))
    bucket = db.relationship(Bucket)

class {{ python.record_metadata_class|base_name }}:
    __record_model_cls__ = {{ python.parent_record_metadata_class|base_name }}